body {
    background-color:rgba(234,237,242,255);
    
}
thead{
    background-color: white;
    width: 40%;
    
}
 /* label{
    width: 100%;
    background-color:white}
     */

table {
    background-color:rgba(247,248,250,255);
    width: 20%;
    margin: 2rem;
    padding: 1.5rem 1.5rem;
    border-spacing: 0px;
    font-size: 1.5em;
}
tbody{
    background-color: rgba(247,248,250,255)
}



th,.daysprev {
    color: rgba(202,204,207,255);
    

}
td, th {
    padding: 0.5em 1em;

}


.selectdays{
    background-color: #ffebec;
    color: rgb(214, 42, 42);
    border-top-right-radius:  10px;
    border-top-left-radius: 10px;
}
.years, .months {
   width: 10%;
   height: 200%;
   font-size: xx-large;
   padding:  10px;
   background-color: rgba(243,244,246,255);
   border-radius: 11%;
   border-color:solid;
}

.firstselect{
    padding-left: 3rem;
   background-color: white;
   margin-left: 5rem;
}
.secondselect{
    
    background-color: white;
    padding-left: 5rem;
}
button{
    width: 20%;
   height: 200%;
   font-size: medium;
   padding:  10px;
   background-color: #e5f4fb;
   border-radius: 11%;
   border:none;
}
.firstbottom, .secondbottom{
    background-color: white;
}