table{
    width: 95%;
    margin: auto;
    padding: 2%;
    border-spacing: 0px;
  
    
    
}
th, td{
    text-align: center;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}
.header{
    background-color: black;
    color: rgb(161, 203, 246);
    text-align: center;
    
}
.differentcolor{
    background-color:rgb(234, 236, 247) ;
}